@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
    color: #ffffff;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#head h1 {
    margin: 0;
}

#head h1 a img {
    max-height: 1.25em;
}
/* head nav */
#headNav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#headNavToggler {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
    margin-right: 0.5em;
}

#headNavToggler p {
    margin: 0;
    font-size: 1.25em;
}

#headNavToggler #headNavToggleButton {
    display: block;
    content: '';
    width: 1em;
    height: 1em;
    border-bottom: 2.5px solid #ffffff;
    border-left: 2.5px solid #ffffff;
    transform: rotate(-45deg) translateX(25%);
    transition: transform .3s ease;
    cursor: pointer;
}
#headNavToggler #headNavToggleButton.active {
    transform: rotate(135deg) translateY(-25%);
}

#headNavContent {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: max-content;
    border: 1px solid #00297E;
    margin: 1em 0 0 0;
}
#headNavContent.view {
    display: block;
}

#headNavContent a {
    display: block;
    padding: 1em 2.5em;
    text-align: center;
    background-color: #ffffff;
    color: #636b6f;
    text-decoration: none;
}
#headNavContent a:hover {
    background-color: #00297E;
    color: #ffffff;
}

#headNav .user-icon {
    width: 3em;
    height: 3em;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* followList and followerList */
#followListContainer,
#followerListContainer {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 2.5em;
    padding: 1em 2em;
    border-bottom: 10px solid #E0E0E0;
}

#followListContainer h2,
#followerListContainer h2 {
    margin: 0;
    white-space: nowrap;
}

#followList,
#followerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

#followList img,
#followerList img {
    width: 3.5em;
    height: 3.5em;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

/* Profile.Other */
#otherProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em 4em;
    border-bottom: 10px solid #E0E0E0;
}

#otherProfile p {
    margin: 0;
    font-size: 1.5em;
}

#otherProfile > div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1em;
}
#otherProfile > div:nth-child(2) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#otherProfile > div:nth-child(3) {
    text-align: center;
    margin-bottom: -3em;
    margin-right: -3em;
}

#otherProfile > div:nth-child(3) > p.is-follower {
    color: #727272;
    font-size: 1em;
}

#otherProfile > div:nth-child(3) > .btn {
    --bg-follow: #0756CF;
    --bg-follow-back: #0756CF;
    --bg-unfollow: #EE3833;

    padding: .5em 2em;
    border-radius: .5em;
    color: #E0E0E0;
}

#otherProfile > div:nth-child(3) > .btn.follow{
    background-color: var(--bg-follow);
}
#otherProfile > div:nth-child(3) > .btn.follow-back{
    background-color: var(--bg-follow-back);
}
#otherProfile > div:nth-child(3) > .btn.unfollow{
    background-color: var(--bg-unfollow);
}

/* Search */
#searchContainer form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 2em 4em;
    border-bottom: 10px solid #E0E0E0;
}

#searchContainer form div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: .5em;
}

#searchContainer form div input {
    font-size: 2.25rem;
    height: 3rem;
}

#searchContainer form div button {
    border: none;
    background: none;
    padding: 0;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchContainer form div button img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

#searchContainer form p {
    margin: 0;
    font-size: 1.25em;
}

#searchContainer #users {
    width: 50%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#searchContainer #users li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

#searchContainer #users li#userEmptyMsg {
    font-size: 1.25em;
}

#searchContainer #users li img {
    width: 4.5em;
    height: 4.5em;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

#searchContainer #users li span {
    flex-grow: 1;
    font-size: 1.125em;
}

#searchContainer #users li div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#searchContainer #users li div .is-follower {
    color: #727272;
    font-size: 1em;
    margin: 0;
}
#searchContainer #users li div .btn {
    --bg-follow: #0756CF;
    --bg-follow-back: #0756CF;
    --bg-unfollow: #EE3833;

    padding: .5em 2em;
    border-radius: .5em;
    color: #E0E0E0;
}
#searchContainer #users li div .btn.follow {
    background-color: var(--bg-follow);
}

#searchContainer #users li div .btn.follow-back {
    background-color: var(--bg-follow-back);
}

#searchContainer #users li div .btn.unfollow {
    background-color: var(--bg-unfollow);
}
